
networks:
  traefik:
    name: traefik
    external: true
  alterconso:

volumes:
  mysql:

services:
  # ------------------------------------------------------------------------------ #
  #                                   ALTERCONSO                                   #
  # ------------------------------------------------------------------------------ #
  webapp:
    image: alterconso/webapp
    build: ${APPLICATIONS_PATH}/alterconso/webapp
    restart: on-failure:10
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.alterconso.rule=Host(`{{ alterconso_external_host }}`)
      - traefik.http.routers.alterconso.tls=true
      - traefik.http.routers.alterconso.tls.certresolver=letsencrypt
    volumes:
      - ${APPLICATIONS_PATH}/webapp/configuration/apache2/vhosts/alterconso.conf:/etc/apache2/sites-available/alterconso.conf
      - ${APPLICATIONS_PATH}/webapp/configuration/apache2/vhosts/alterconso.conf:/etc/apache2/sites-enabled/alterconso.conf
      - ${APPLICATIONS_PATH}/webapp/configuration/app/config.xml:/var/www/alterconso/config.xml
    depends_on:
      - mysql
    networks:
      - traefik
      - alterconso

  # mailer:
  #   hostname: mailer
  #   image: alterconso/mailer:latest
  #   build: ${APPLICATIONS_PATH}/alterconso/microservices/mailer
  #   ports:
  #     - 5000:5000
  #   command: serve --config-file config.yaml
  #   depends_on:
  #     - webapp
  #   networks:
  #     - alterconso

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: db
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
    volumes:
      - mysql:/var/lib/mysql
      - ${APPLICATIONS_PATH}/alterconso/webapp/configuration/mysql/dumps/:/root/dumps
      - ${APPLICATIONS_PATH}/alterconso/webapp/configuration/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
    networks:
      - alterconso