server {
    listen 443 ssl;
    server_name {{ le_portail_website_fqdn }};

    ssl_certificate     /etc/nginx/certificates/le-portail/cert.pem;
    ssl_certificate_key /etc/nginx/certificates/le-portail/key.pem;

    access_log /dev/stdout;
    error_log  /dev/stderr debug;

    location / {
        proxy_pass http://le-portail-webserver:80;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}