
networks:
  traefik:
    name: traefik
    external: true
  {{ site_name }}:

volumes:
  wordpress:
  mysql:

services:
  # ------------------------------------------------------------------------------ #
  #                              WORDPRESS LE-PORTAIL                              #
  # ------------------------------------------------------------------------------ #
  wordpress:
    image: wordpress:6.1.1-php8.1-apache
    security_opt:
      - seccomp:unconfined
    restart: on-failure:10
    depends_on:
      - mysql
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      - traefik.http.routers.wordpress_{{ site_name }}_by_host.rule=Host(`{{ site_fqdn }}`)
      - traefik.http.routers.wordpress_{{ site_name }}_by_host.tls=true
      - traefik.http.routers.wordpress_{{ site_name }}_by_host.tls.certresolver=letsencrypt
    environment:
      WORDPRESS_DB_PASSWORD: docker
      WORDPRESS_DB_USER: docker
    volumes:
      - wordpress:/var/www/html
    networks:
      - traefik
      - {{ site_name }}
  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wordpress
      MYSQL_USER: docker
      MYSQL_PASSWORD: docker
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - {{ site_name }}