
networks:
  traefik:
    name: traefik
    external: true
  {{ site_name }}:

volumes:
  wordpress:
  mariadb:

services:
  # ------------------------------------------------------------------------------ #
  #                              WORDPRESS LE-PORTAIL                              #
  # ------------------------------------------------------------------------------ #
  wordpress:
    image: wordpress:6.1.1-php8.1-apache
    security_opt:
      - seccomp:unconfined
    restart: on-failure:10
    depends_on:
      - mariadb
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik
      {% if site_answer_to_domain -%}
      - traefik.http.routers.wordpress_{{ site_name }}.rule=(Host(`{{ site_fqdn | community.dns.get_registrable_domain }}`) || Host(`{{ site_fqdn }}`))
      {% else -%}
      - traefik.http.routers.wordpress_{{ site_name }}.rule=Host(`{{ site_fqdn }}`)
      {% endif -%}
      - traefik.http.routers.wordpress_{{ site_name }}.tls=true
      - traefik.http.routers.wordpress_{{ site_name }}.tls.certresolver=letsencrypt
    environment:
      WORDPRESS_DB_HOST: "mariadb:3306"
      WORDPRESS_DB_PASSWORD: docker
      WORDPRESS_DB_USER: docker
      WORDPRESS_CONFIG_EXTRA: >
        define('WP_HOME', 'https://www.leportail.org/');
        define('WP_SITEURL', 'https://www.leportail.org/');
    volumes:
      - wordpress:/var/www/html
    networks:
      - traefik
      - {{ site_name }}
  
  mariadb:
    image: mariadb:10.6.11
    security_opt:
      - seccomp:unconfined
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: wordpress
      MARIADB_USER: docker
      MARIADB_PASSWORD: docker
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - {{ site_name }}